$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$faded-blue: rgb(35, 88, 102);
$deep-blue: rgb(14, 39, 44);
$main-magenta: rgb(194, 63, 150);
$faded-magenta: rgb(126, 31, 94);
$deep-magenta: rgb(31, 18, 26);
