$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 218, 251);
$main-magenta: rgb(194, 63, 150);


.App {
  min-height: 100vh;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: $main-blue;
  background-color: $main-gray;
}

.modal-blur {
  filter: blur(2px);
}
