@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }

}

@media screen and (max-width: 540px) {
  .App-logo {
    height: 20vmin;
  }

  .App-header > p {
    font-size: 1.15em;
  }

  .submit {
    height: 80px;
    font-size: 1em;
  }

  .weather, .local-mach-1 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .diameter-units {
    font-size: 1em;
    
  }

  .form, .units {
    font-size: 1em !important;
  }

  [type=radio] {
    vertical-align: text-top;
    height: 30px !important;
    width: 30px !important;
  }

  [type=number], [type=text] {
    height: 40px !important;
    font-size: 1em !important;
  }

}

header > p {
  font-size: 1.5em;
  font-family: 'Exo', sans-serif;
  color: #61dafb;
  filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 4px #26a0c2);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #61dafb;
  background-color: #282c34;
}

.App-logo {
  margin-top: 40px;
  height: 10vmin;
  pointer-events: none;
}
