$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$main-magenta: rgb(195, 65, 150);

.outputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 25px;
}

.weather, .local-mach-1 {
  color: $main-magenta;
  font-size: 16px;
}

.output-value {
  color: $main-magenta;
  font-size: 2em;
  font-weight: bold;
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0)) drop-shadow(0px 0px 6px #8b2168);
}

.outputs > * > p {
  margin: 0;
}
