.outputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 25px;
}

.weather, .local-mach-1 {
  color: #c23f96;
  font-size: 16px;
}

.output-value {
  color: #c23f96;
  font-size: 2em;
  font-weight: bold;
  filter: drop-shadow(0px 0px 2px #00000080) drop-shadow(0px 0px 6px #8b2168);
}

.outputs > * > p {
  margin: 0;
}
