$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$main-magenta: rgb(194, 63, 150);
$magenta-shadow: drop-shadow(0px 0px 3px rgb(0, 0, 0)) drop-shadow(3px -7px 15px rgba(138, 29, 102, 0.616)) drop-shadow(-5px 7px 10px rgba(126, 35, 95, 0.479));

.outputs {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 90%;
  margin-bottom: 25px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.weather, .local-mach-1 {
  min-height: 1em;
}

.weather > p, .local-mach-1 > p {
  color: $main-magenta;
  font-size: 16px;
  animation: appear 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.output-value {
  color: $main-magenta;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 8px;
  filter: $magenta-shadow;
}

.outputs > * > p {
  margin: 0;
}
