$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$faded-blue: rgb(35, 88, 102);
$deep-blue: rgb(14, 39, 44);
$main-magenta: rgb(194, 63, 150);
$blue-shadow: drop-shadow(0px 2px 5px rgb(0, 0, 0)) drop-shadow(5px 6px 15px rgba(13, 98, 124, 0.459)) drop-shadow(-2px -8px 15px rgba(40, 159, 195, 0.288));


.header-div {
  width: 500px;
  border-left: solid 2px $faded-blue;
  border-right: solid 2px $faded-blue;
  border-bottom: solid 2px $faded-blue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 3px 10px black;
  transition: ease-in-out 300ms;
}

@media screen and (min-width: 540px) {
  .header-div {
    animation: slide-in-header ease-in-out 1200ms forwards;

    &:hover {
      background-color: $deep-blue;
    }
  }

  @keyframes slide-in-header {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}


.App-header > a {
  // display: block;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  & p {
    font-size: 1.5em;
    font-family: 'Exo', sans-serif;
    color: $main-blue;
    filter: $blue-shadow;
  }
}

.App-logo {
  margin-top: 40px;
  height: 10vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }

}

@media screen and (max-width: 540px) {
  .App-logo {
    height: 15vmin;
  }

  .header-div {
    max-width: 95vw;
  }

  .App-header > a {
    font-size: 1.15em;
  }

  .weather, .local-mach-1 {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
