/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.inputs > label, .options > label {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

[type=number], [type=text] {
  border: solid 2px #c23f96;
  border-radius: 5px;
  height: 1.5em;
  width: 50%;
  background-color: #282c34;
  color: #c23f96;
  font-size: 0.7em;
  text-align: end;
  padding-right: 30px;
}

[type=radio] {
  margin: 0px 5px 0px 20px;
  height: 15px;
  width: 15px;
  accent-color: #c23f96;
}

input:focus {
  outline-style: none;
  filter: drop-shadow(0px 0px 10px #6d365a);
}

::placeholder {
  color: #61dafb80;
}

button {
  display: block;
  height: 50px;
  width: 80%;
  font-weight: bold;
  color: #c23f96;
  background-color: #282c34;
  border: solid 2px;
  border-radius: 5px;
  margin: 30px 0px 15px;
  transition: ease-in-out 300ms;
}

button:hover {
  color: #282c34;
  background-color: #c23f96;
  border-color: #c23f96;
  filter: drop-shadow(0px 0px 15px #6d365a);

}

.form {
  font-family: 'B612';
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    'units units'
    'inputs options'
  }

.units {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  margin-bottom: 15px;
}

.units > input {
  margin-left: 15px;
}

.inputs, .options {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.diameter-units {
  position: relative;
  display: none;
  /* transform: translate(-50px, 55px); */
  color: #c23f96;
  font-size: 0.7em;
  z-index: 1;
}
