$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$faded-blue: rgba(97, 218, 251, 0.5);
$main-magenta: rgb(194, 63, 150);
$magenta-shadow: drop-shadow(0px 0px 3px rgb(0, 0, 0)) drop-shadow(-5px -5px 15px rgba(117, 19, 84, 0.705)) drop-shadow(2px 8px 10px rgba(177, 34, 129, 0.356));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline-style: none;
  filter: $magenta-shadow;
}

button {
  height: 50px;
  width: 45%;
  font-weight: bold;
  color: $main-magenta;
  background-color: $main-gray;
  border: solid 2px $main-magenta;
  border-radius: 5px;
  margin: 30px 0px 15px;
  transition: ease-in-out 300ms;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

label {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.input-form {
  font-family: 'B612', sans-serif;
  font-size: 0.75em;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 19rem;
  align-items: center;

  & > input {
    width: 30%;
  }
}

::placeholder {
  color: $faded-blue;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

// .inputs, .options {
//   display: flex;
//   flex-direction: column;
//   justify-items: center;
//   align-items: center;
// }


// .inputs > label, .options > label {
//   font-size: 0.9em;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 10px;
//   margin-bottom: 5px;

// }

[type=number], [type=text] {
  border: solid 2px $main-magenta;
  border-radius: 5px;
  height: 1.5em;
  width: 50%;
  background-color: $main-gray;
  color: $main-magenta;
  font-size: 0.7em;
  text-align: end;
  padding-right: 30px;
  margin-bottom: 10px;
}

.units {
  display: flex;
  font-family: Arial;
  font-size: 0.9em;
  font-weight: bold;
  justify-content: space-around;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  & .unitsLabel {
    color: $faded-blue;
    border: solid 2px $main-magenta;
    padding: 10px 10px;
    margin: 10px 0px;
    background-color: $main-gray;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, filter 200ms ease-in-out;
    cursor: pointer;
  }

  & [type=radio] {
    appearance: none;
    position: absolute;
  }

  & #imperial:checked + label {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }

  & #metric:checked + label {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }

  & label {
    width: 40%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 540px) {
  button:hover {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }
}

@media screen and (max-width: 540px) {
  .submit {
    height: 60px;
    font-size: 1em;
  }

  .form, .units, .diameter-units {
    font-size: 1em;
  }

  [type=radio] {
    vertical-align: text-top;
    height: 30px;
    width: 30px;
  }

  [type=number], [type=text] {
    // height: 40px;
    font-size: 1em;
  }
}
