$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$main-magenta: rgb(194, 63, 150);
$magenta-shadow: drop-shadow(0px 0px 3px rgb(0, 0, 0)) drop-shadow(0px 0px 8px rgb(163, 49, 125));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline-style: none;
  filter: $magenta-shadow;
}

button {
  height: 50px;
  width: 80%;
  font-weight: bold;
  color: $main-magenta;
  background-color: $main-gray;
  border: solid 2px $main-magenta;
  border-radius: 5px;
  margin: 30px 0px 15px;
  transition: ease-in-out 300ms;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form {
  font-family: 'B612', sans-serif;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    'units1 units2'
    'inputs options'
  }
  
  ::placeholder {
    color: #61dafb80;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

.inputs, .options {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.inputs > label, .options > label {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

[type=number], [type=text] {
  border: solid 2px $main-magenta;
  border-radius: 5px;
  height: 1.5em;
  width: 50%;
  background-color: $main-gray;
  color: $main-magenta;
  font-size: 0.7em;
  text-align: end;
  padding-right: 30px;
}

.units {
  display: flex;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;
  justify-content: space-around;
  grid-column: 1 / 3;
  margin-bottom: 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  & .unitsLabel {
    color: $main-blue;
    border: solid 2px $main-magenta;
    padding: 10px 10px;
    margin: 10px 0px;
    background-color: $main-gray;
    transition: 300ms background-color ease-in-out, filter 300ms ease-in-out;
    cursor: pointer;
  }

  & [type=radio] {
    appearance: none;
    position: absolute;
  }

  & #imperial:checked + label {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }

  & #metric:checked + label {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }

  & label {
    width: 35.2%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 540px) {
  button:hover {
    color: $main-gray;
    background-color: $main-magenta;
    filter: $magenta-shadow;
  }
}

@media screen and (max-width: 540px) {
  .submit {
    height: 80px;
    font-size: 1em;
  }

  .form, .units, .diameter-units {
    font-size: 1em;
  }

  [type=radio] {
    vertical-align: text-top;
    height: 30px;
    width: 30px;
  }

  [type=number], [type=text] {
    height: 40px;
    font-size: 1em;
  }
}
