$main-gray: rgb(32, 35, 42);
$main-blue: rgb(100, 220, 250);
$main-magenta: rgb(195, 65, 150);

.modal {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  font-family: B612, sans-serif;
  color: $main-blue;
  background-color: $main-gray;
  border: solid 2px $main-magenta;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  z-index: 2;
}

.modal > button {
  margin-top: 10%;
  font-weight: bold;
}

.fade-in {
  animation: appear 300ms;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(40, 44, 52, 0.5);
  z-index: 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
