$main-gray: rgb(26, 28, 34);
$main-blue: rgb(97, 219, 250);
$main-magenta: rgb(194, 63, 150);

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(40, 44, 52, 0.5);
  z-index: 1;
}

.modal {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-blue;
  background-color: $main-gray;
  padding: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'B612', sans-serif;
  border: solid 2px $main-magenta;
  border-radius: 10px;
  filter: drop-shadow(0px 8px 15px rgb(0, 0, 0));
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal > button {
  margin-top: 10%;
  font-weight: bold;
}

@media screen and(max-width: 540px) {
  button {
    height: 3em;
    cursor: default;
  }
}

.fade-in {
  animation: appear 500ms ease-in-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: disappear 500ms ease-in-out forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
