body {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #61dafb;
  background-color: #282c34;
}

header > p {
  font-size: 1.5em;
  font-family: 'Exo', sans-serif;
  color: #61dafb;
  filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px #26a0c2);
}

.App-logo {
  margin-top: 40px;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@media screen and (max-width: 540px) {
  .App-logo {
    height: 20vmin;
  }
  
  .submit {
    width: 300px;
    height: 80px;
    font-size: 1.5em;
  }

  input[type=radio] {
    vertical-align: text-top;
    height: 30px !important;
    width: 30px !important;
  }

  input[type=text] {
    height: 40px !important;
    font-size: 1em !important;
  }
}

.App-header {
  color: rgb(143, 143, 143);
}

.App-link {
  color: #61dafb;
}

.value {
  width: 400px;
  color: #c23f96;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}

.units {
  display: inline-flex;
  align-items: center;
  
}

.units > input {
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 150px;
  height: 50px;
  font-weight: bold;
  color: #c23f96;
  background-color: #282c34;
  border: solid 2px;
  border-radius: 5px;
  margin-top: 30px;
  transition: ease-in-out 300ms;
}

button:hover {
  color: #282c34;
  background-color: #c23f96;
  border-color: #c23f96;
}

form > label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

input[type=text] {
  border: solid 2px #c23f96;
  border-radius: 5px;
  height: 1.5em;
  width: 40%;
  background-color: #282c34;
  color: #c23f96;
  font-size: 0.7em;
  text-align: end;
  padding-right: 30px;
}

input[type=radio] {
  margin: 0px 5px 0px 20px;
  height: 15px;
  width: 15px;
  accent-color: #c23f96;
}

::placeholder {
  color: #61dafb80;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

